<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Sajari/proto</directory>
                <directory suffix=".php">src/Sajari/Compare</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>